.home {
  &__wrapper {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
  }

  &__main-content {
    display: flex;
    max-width: 850px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__search {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__weather-section {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__header-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  &__favorite-block {
    display: flex;
  }

  &__favorite-icon {
    display: flex;
    align-items: center;
  }
}
