<mat-sidenav-container class="home__wrapper">
  <mat-sidenav-content>
    <div class="home__main-content">
      <form class="home__search"
            [formGroup]="searchForm">
        <mat-form-field class="example-full-width"
                        floatLabel="auto">
          <input matInput
                 placeholder="Select city"
                 aria-label="City"
                 [matAutocomplete]="auto"
                 formControlName="citySearch">
          <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="getCurrentCityWeather($event.option.value)">
            <mat-option *ngFor="let city of citiesList$ | async"
                        [value]="city.LocalizedName">
              {{ city.LocalizedName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <div class="home__weather-section">
        <div class="home__header-section">
          <div class="home__current-city">
            <p class="home__city-name">{{ selectedCity?.LocalizedName }}</p>
            <span class="home__city-temperature">{{ currentCityWeather?.Temperature.Metric.Value || defaultCityWeather?.Temperature.Metric.Value }}°</span>
            <span>{{ currentCityWeather?.Temperature.Metric.Unit || defaultCityWeather?.Temperature.Metric.Unit }}</span>
          </div>
          <div class="home__favorite-block">
            <div class="home__favorite-icon">
              <i class="home__fav-icon material-icons"
                 *ngIf="isFavorite">
                favorite
              </i>
              <i class="home__fav-icon material-icons"
                 *ngIf="!isFavorite">
                favorite_border
              </i>
            </div>
            <button mat-stroked-button
                    (click)="addToFavorite()"
                    class="home__favorite-btn"
                    *ngIf="!isFavorite">
              Add to favorite
            </button>
            <button mat-stroked-button
                    (click)="removeFromFavorite()"
                    class="home__favorite-btn"
                    *ngIf="isFavorite">
              Remove from favorite
            </button>
          </div>
        </div>
        <div class="home__current-weather">
          <img *ngIf="currentCityWeather && currentCityWeather.WeatherIcon || defaultCityWeather && defaultCityWeather.WeatherIcon"
               src="{{apiUrl}}{{currentCityWeather?.WeatherIcon || defaultCityWeather?.WeatherIcon | addZero}}-s.png"
               alt="{{currentCityWeather?.WeatherText}}"
               class="home__weather-icon">
          <p class="home__weather-title">{{ currentCityWeather?.WeatherText || defaultCityWeather?.WeatherText }}</p>
        </div>
        <div class="home__daily-forecast-section">
          <div class="home__day-weather-block"
               *ngFor="let day of dailyForecast">
            <div class="home__day-name">
              <p>{{ day.displayedDate }}</p>
            </div>
            <p class="home__city-temperature">{{ day?.Temperature.Maximum.Value }}°</p>
            <span>{{ day?.Temperature.Maximum.Unit }}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
