<mat-sidenav-container class="favorite__wrapper">
  <mat-sidenav-content>
    <div class="favorite__main-content">
      <div class="favorite__cities-section">
        <div class="favorite__city-weather-block">
          <div *ngFor="let city of favoriteCitiesWeather">
            <div class="favorite__city-weather">
              <p>{{city.LocalizedName}}</p>
              <p class="favorite__city-temperature">{{ city?.Temperature.Metric.Value }}°</p>
              <span>{{ city?.Temperature.Metric.Unit }}</span>
              <p class="favorite__weather-text">{{ city?.WeatherText }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
