.favorite {
  &__wrapper {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
  }

  &__main-content {
    display: flex;
    max-width: 850px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__city-weather-block {
    display: flex;
    flex-wrap: wrap;
  }

  &__city-name-block {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__weather-block {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__city-name, &__city-weather {
    min-width: 100px;
    margin: 1rem 0.5rem 0 0.5rem;
    text-align: center;
  }
}
