<mat-sidenav-container class="favorite__wrapper">
  <mat-sidenav-content>
    <div class="favorite__main-content">
      <div class="favorite__cities-section">
        <div class="favorite__city-weather-block">
          <div *ngFor="let city of favoriteCitiesWeather">
            <a class="favorite__city-weather"
                 (click)="showCityWeather(city.Key, city.LocalizedName)">
              <p>{{city.LocalizedName}}</p>
              <span class="favorite__city-temperature">{{ city?.Temperature.Metric.Value }}°</span>
              <span>{{ city?.Temperature.Metric.Unit }}</span>
              <p class="favorite__weather-text">{{ city?.WeatherText }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
