<mat-sidenav-container class="favorite__wrapper">
  <mat-sidenav-content>
    <div class="favorite__main-content">
      <div class="favorite__cities-section">
        <p>test text</p>
        <div class="favorite__city-weather-block"
             *ngFor="let city of citiesList$">
          <div class="favorite__city-name">
            <p>{{ city.LocalizedName }}</p>
          </div>
          <div class="favorite__city-weather">
            <p class="favorite__city-temperature">{{ city?.Temperature.Maximum.Value }}°</p>
            <span>{{ city?.Temperature.Maximum.Unit }}</span>
            <p class="favorite__weather-text">{{ city?.WeatherText }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
